<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="car checking automation test">
    <!-- Reporting listener for generating Extent Reports -->
    <listeners>
        <listener class-name="reports.Reporting"/>
    </listeners>

    <test name="car checking test">
        <!-- Test classes to be executed -->
        <classes>
            <class name="com.carchecking.testsCases.LandingPageTest"/>
        </classes>
    </test>
</suite>
